[submodule "Fit"]
	path = Fit
	url = ../Fit.git
[submodule "python-tcxparser"]
	path = python-tcxparser
	url = ../python-tcxparser.git
[submodule "utilities"]
	path = utilities
	url = git@github.com:tcgoetz/utilities.git
