[submodule "Fit"]
	path = Fit
	url = "https://github.com/tcgoetz/Fit.git"
[submodule "utilities"]
	path = utilities
	url = "https://github.com/tcgoetz/utilities.git"
[submodule "Tcx"]
	path = Tcx
	url = "https://github.com/tcgoetz/Tcx.git"
[submodule "Plugins"]
	path = Plugins
	url = "https://github.com/tcgoetz/GarminDbPlugins.git"