{
    "db": {
        "type"                          : "sqlite"
    },
    "garmin": {
        "domain"                        : "garmin.com"
    },
    "credentials": {
        "user"                          : "joe@shmoe.com",
        "secure_password"               : false,
        "password"                      : "yourpassword"
    },
    "data": {
        "weight_start_date"             : "12/31/2019",
        "sleep_start_date"              : "12/31/2019",
        "rhr_start_date"                : "12/31/2019",
        "monitoring_start_date"         : "12/31/2019",
        "download_latest_activities"    : 25,
        "download_all_activities"       : 1000
    },
    "directories": {
        "relative_to_home"              : true,
        "base_dir"                      : "HealthData",
        "mount_dir"                     : "/Volumes/GARMIN"
    },
    "enabled_stats": {
        "monitoring"                    : true,
        "steps"                         : true,
        "itime"                         : true,
        "sleep"                         : true,
        "rhr"                           : true,
        "weight"                        : true,
        "activities"                    : true
    },
    "course_views": {
        "steps"                         : []
    },
    "modes": {
    },
    "activities": {
        "display"                       : []
    },
    "settings": {
        "metric"                        : false,
        "default_display_activities"    : ["walking", "running", "cycling"]
    },
    "checkup": {
        "look_back_days"                : 90
    }
}
