{
    "credentials": {
        "user"                          : "joe@shmoe.com",
        "password"                      : "yourpassword"
    },
    "data": {
        "weight_start_date"             : "01/01/2019",
        "sleep_start_date"              : "01/01/2019",
        "rhr_start_date"                : "01/01/2019",
        "monitoring_start_date"         : "01/01/2019",
        "download_latest_activities"    : 25,
        "download_all_activities"       : 1000
    },
    "copy": {
        "mount_dir"                     : "/Volumes/GARMIN"
    },
    "enabled_stats": {
        "monitoring"                    : true,
        "steps"                         : true,
        "itime"                         : true,
        "sleep"                         : true,
        "rhr"                           : true,
        "weight"                        : true,
        "activities"                    : true
    },
    "course_views": {
        "steps"                         : []
    },
    "modes": {
    }
}
